<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flourish.sdk.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".RewardsActivity"
            android:exported="false"
            android:label="@string/title_rewards_main"
            android:theme="@style/Theme.FlourishSDKAndroid.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="com.flourish.sdk.android.ACTION_OPEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>